<div class="genre_search">
  <p></p>
  <%= form_tag('/recipes/genre_search', method: :get) do %>
    <input class="search__query" name="keyword" placeholder="ジャンルで検索" type="text" value=""><button class="btn-search" title="検索" type="submit"><%= image_tag("search_btn.png",:size=>"50x50") %><i class="icon-search"></i></button></input>
  <% end %>
  <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
  </form>
</div>