* {
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
}

body {
  background-color: #FFDBC9;
  overflow: hidden;
}

header h1 a {
  text-decoration: none;
  color: #BF360C;
  font-size: 40px;
}

.title {
  margin-top: 10px;
  text-align: center;
}

.navbar {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #BF360C;
  display: flex;
  margin-bottom: 10px;
}

ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

ul li{
  margin-left: 20px;
  margin-bottom: -5px;
  margin-top: -5px;
  list-style: none;
  padding: 10px;
}

.search {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

input {
  font-size: 20px;
  width: 150px;
  height: 40px;
  vertical-align: middle;
  border-radius: 10px;
}

button {
  background-color: transparent;
  border-style: none;
  vertical-align: middle;
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.posts {
  width: 70%;
  margin:0 auto;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
  border-radius: 30px;
}

.posts img {
  width: 90%;
  height: 700px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;

}

.img_user {
  position: relative;
}
.more a {
  color: #FFFFFF;
  line-height: auto;
  list-style: none;
  position: absolute;
  top: 50px;
  right: 80px;
}

.moremore a {
  color: white;
  line-height: auto;
  list-style: none;
  position: absolute;
  top: 80px;
  right: 80px;
}

.img_user p {
  color: white;
  position: absolute;
  bottom: 50px;
  right: 80px;
}

.posts_:after {
  display: block;
  content: "";
  clear: both;
}

.posts a {
  text-decoration: none;
}

.posts li {
  list-style: none;
  text-align: right;
  margin-right: 60px;
}

.comment_text {
  width: 90%;
  margin: 0 auto;
}

.like {
  display: inline;
  float: left;
  margin-top: 20px;
}

.comment_text textarea {
  width: 70%;
  height: 70px;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 20px;
  vertical-align: middle;
}

.comment_text input {
  font-size: 30px;
  width: 10%;
  height: 70px;
  vertical-align: middle;
  margin-top: 30px;
}

.like img {
  width: 100px;
  height: 100px;
}

.comments h3 {
  font-size: 25px;
  margin-top: 50px;
  text-align: center;
}

.comments p {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.comments a {
  text-decoration: none;
}

.user h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}

.user .posts {
  margin-top: 30px;
}

.genre_search {
  text-align: center;
  margin-top: 50px;
  display: block;
  width: 38%;
  margin: 0 auto;
}

.genre_search input {
  width: 300px;
}

.genre_search p {
  margin-top: 30px;
}

.genre {
  margin-top: -50px;
}

.genre_p {
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
}

.gold h2 {
  font-size: 30px;
  text-align: center;
}

.gold img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

.ranking .posts {
  margin-top: 30px;
}

.edit h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.edit_image {
  text-align: center;
}

.edit_form {
  width: 53%;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 20px;
}

.edit_form {
  text-align: center;
}

.edit_form textarea {
  margin-top: 10px;
  font-size: 20px;
}

.edit_form p {
  text-align: center;
}

.edit_title {
  margin-top: 40px;
}

.edit_text {
  margin-top: 40px;
}

.edit_foods {
  margin-top: 40px;
}

.edit_btn {
  text-align: center;
  margin-top: 30px;
}

.update h3 {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}

.back {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}

.destroy h3 {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}

.create h3 {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}

.login_box {
  width: 40%;
  height: 450px;
  margin: 0 auto;
  margin-top: 40px;
  border-style: solid;
  border-color: #BF360C;
  border-width: 5px;
  border-radius: 20px;
}

.log_in {
  text-align: center;
}

.log_in .field {
  margin-top: 20px;
}

.login_btn {
  margin-top: 30px;
}

.login_link {
  margin-top: 30px;
}

.sign_box {
  width: 40%;
  height: 480px;
  margin: 0 auto;
  margin-top: 40px;
  border-style: solid;
  border-color: #BF360C;
  border-width: 5px;
  border-radius: 20px;
}

.sign_up {
  text-align: center;
}

.sign_up .field {
  margin-top: 20px;
}

.sign_btn {
  margin-top: 30px;
}

.create {
  text-align: center;
}

.create_box {
  width: 50%;
  height: 750px;
  margin: 0 auto;
  margin-top: 30px;
  border-style: solid;
  border-color: #BF360C;
  border-width: 5px;
  border-radius: 20px;
}

.create_img {
  margin-top: 30px;
}

.create_field {
  margin-top: 30px;
}

.create_btn {
  margin-top: 20px;
}

.create_genre {
  margin-top: 10px;
}

.genre_p p {
  font-size: 16px;
  margin-top: 20px;
}

.time_recipe {
  float: left;
  margin-left: 40px;
}

.look_recipe {
  float: right;
}